<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <title>Metal kollegiet</title>

</head>
<body>
    
    <footer class="c-footer">
        <address>
            <span class="bold">Kontakt for udlejning</span>
            <br>
            <span>Metal Kollegiet P/S</span>
            <span>Molestien 7, 3. sal</span>
            <span>2450 København SV</span>
            <br>
            <a href="tel:33637201">
                Tlf.: 33637201
            </a>
            <span>CVR-nr. 40933697</span>
            <span>EAN-nummer: 5790002752506</span>
        </address>
        <ul role="list" class="links">
            <li><a href="#">Cookiepolitik</a></li>
            <li><a href="#">Privatlivspolitik</a></li>
            <li><a href="#">Forbehold</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Find vej til Metal Kollegiet</a></li>
        </ul>
        <div class="logo-and-socials">
            <img src="./icons/logo-desktop.svg" alt="Gå tilbage til forsiden">
            <div class="social-icons">
                <a href="#"><img src="./icons/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="./icons/instagram.svg" alt="Instagram"></a>
                <a href="#"><img src="./icons/tiktok.svg" alt="TikTok"></a>
            </div>
        </div>
    </footer>

</body>
</html>